* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

.fade-enter-active, .fade-leave-active {
	transition: opacity .5s;
  }
.fade-enter, .fade-leave-to {
	opacity: 0;
  }